

.background {
    background-image: Url("../images/mystery van.jpg");
    background-position: center;
    height: 250px;
    background-repeat: repeat;
    padding: 250px;
    


};    


.container {
    font-family: "asset", cursive;
    color: chartreuse;
};


h1 {
    font-family: "modak", cursive;
};

.start {
    border: 1px solid black;
    background: yellow;
    cursor: pointer;
    text-align: center;
    
};



